/* @author Kenny Akinola, Millers Bicycles CSS Style Page, Southern Illinois University  Developed: 8-31-2023  Tested: 10-5-23 */ 

/* the styles for the elements */

@media only screen and (max-width: 2024px) {
    #mobile_menu { display: none; }
}

@media only screen and (max-width: 959px) {
    mobile_menu { display: none; }
}

@media only screen and (max-width: 767px) {
    #mobile_menu { display: block; }
    #nav_menu { display: none; }
    header h2 { font-size: 1.375em; }
    header h3 { font-size: .8125em; }
    p { font-size: .875em; }
    article h1, main h2, aside h2
        { font-size: 1em; }
    aside li { font-size: .875em; }

}


@media only screen and (max-width: 479px) {
    #mobile_menu { display: block; }
    #nav_menu { display: none; }
    header h2 { font-size: 1.375em; }
    header h3 { font-size: .8125em; }
    p { font-size: .875em; }
    article h1, main h2, aside h2
        { font-size: 1em; }
    aside li { font-size: .875em; }

}


body {
    
    
    width: 725px;
    background-color: skyblue; /* this color is gray */
    margin: 10px auto;
    } 

main {
    width: 50%; 
    height: 500px;
    background-color: #ffffff; /* this color is white for column panel */
    float: left; }

aside {
    width: 50%;
    height: 500px;
    background-color: #ffffff; /* this color is white for column panel */
    float: right; }
h1, h2 {
   
    padding: 10px;
  
} 
p { 

    padding-left: 5px;
    padding-right: 5px;
}

footer { 
    clear: both; 
     }
    
ul { 
    
    padding-left: 10px; } 

li {
    padding-left: 10px; /* space between bullet and text */ 
    
}
/* Navigation css aligned left */
#nav_menu ul {
    list-style-type: none; padding: 1em 0;
    text-align: left;
    border-top: 2px solid black;
    border-bottom: 2px solid black; }
#nav_menu ul li {
    display: inline;
    padding: 0 1.5em; }
#nav_menu ul li a {
    font-weight: bold;
    color: blue; }
#nav_menu ul li a.current { text-decoration: none; }

/* Special main image on index page with blue border and rounded corner- must have .bluetouch div class */ 
.blueborder img {
    border: 2px solid #B5D3E7;
    margin: 0;
    padding: 0;
    border-radius: 1000px;
    -moz-border-radius: 1000px;
    position: relative;
    right: 10px; 
    top: 10px; 
}

/* basic images where blue borders are not required */ 
img {
    position: static;
}
    
    
/* TABLE CODE */

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
  }

  th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
  }

  caption {
    text-align: left;
    font-weight: bold;
    padding: 8px;
  }

  @media screen and (max-width: 470px) {
    table {
      border: none;
    }
    th, td {
      border: none;
      display: block;
      width: 100%;
      box-sizing: border-box;
      text-align: left;
    }
    caption {
      text-align: center;
    }
  }